aiofiles==23.2.1
aiogram==3.12.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.14.1
annotated-types==0.7.0
argcomplete==1.8.1
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
Babel==2.8.0
bcrypt==4.2.1
blinker==1.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
command-not-found==0.3
coverage==7.6.11
cowsay==6.1
cryptography==3.4.8
data==0.4
dbus-python==1.2.18
decorator==5.1.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==5.1.6
dogesay==1.0.0b1
exceptiongroup==1.2.2
executing==2.0.1
Faker==33.1.0
flake8==7.1.1
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
frozenlist==1.4.1
funcsigs==1.0.2
greenlet==3.1.1
gunicorn==23.0.0
-e git+ssh://git@github.com/godofwar007/python-project-50.git@de4aac4c67962470b732f4eec1e5a53058a0b270#egg=hexlet_code
hexlet-python-package @ git+https://github.com/hexlet-boilerplates/python-package@ee822d242c86b51cb8069f03c31d4fdd0bd4f4ab
hextel-pytest @ file:///home/qwer/GoDOfWaR/hextel_pytest/dist/hextel_pytest-0.1.0-py3-none-any.whl#sha256=8ee1bc0081aaa539a877ca6ae20c6952886e8df5605f8fa3ccea9bf4352b0fdc
httplib2==0.20.2
idna==3.8
importlib-metadata==4.6.4
iniconfig==2.0.0
ipython==8.26.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
livereload==2.6.3
magic-filter==1.0.12
Mako==1.3.8
Markdown==3.3.6
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mkdocs==1.1.2
more-itertools==8.10.0
multidict==6.0.5
netifaces==0.11.0
oauthlib==3.2.0
packaging==21.3
parso==0.8.4
pexpect==4.9.0
pipx==1.0.0
pluggy==1.5.0
prompt==0.4.1
prompt_toolkit==3.0.47
psutil==5.9.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pyparsing==2.4.7
pyTelegramBotAPI==4.22.1
pytest==8.3.4
pytest-cov==6.0.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2022.1
PyYAML==6.0.2
requests==2.32.3
ruff==0.9.5
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==2.0.37
sqlparse==0.4.2
stack-data==0.6.3
systemd-python==234
tomli==2.2.1
tornado==6.1
traitlets==5.14.3
typing_extensions==4.12.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.2
userpath==1.8.0
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.1.3
WTForms==3.2.1
yarl==1.9.4
zipp==1.0.0
