{% extends "base.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <h1 class="text-center mb-3">Анализатор страниц</h1>
        <p class="text-center text-muted mb-4">
            Бесплатно проверьте сайты на SEO-пригодность
        </p>
        <form method="POST" action="{{ url_for('index') }}">
            <div class="input-group mb-3">
                <input type="text" name="url" class="form-control" placeholder="https://example.com" aria-label="URL">
                <button type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3">
                    Проверить
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}