{% extends "base.html" %}

{% block title %}Список URL{% endblock %}

{% block content %}
<h1>Список URL</h1>
<table class="table" data-test="urls">
    <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>
                <a href="{{ url_for('url_show', id=url.id) }}">{{ url.name }}</a>
            </td>
            <td>{{ url.created_at.strftime('%Y-%m-%d') if url.created_at else '' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-link">
    Добавить новый URL
</a>
{% endblock %}