{% extends "base.html" %}

{% block title %}Сайты{% endblock %}

{% block content %}
<h1>Сайты</h1>
<table class="table" data-test="urls">
    <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>
                <a href="{{ url_for('url_show', id=url.id) }}">{{ url.name }}</a>
            </td>
            <td>
                {% if url.last_check_date %}
                {{ url.last_check_date.strftime('%Y-%m-%d') }}
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {{ url.last_check_code or '-' }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}